<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css"> -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
  <div>
    <div class="form-group">
      <label>Account</label>
      <input type="text" id="recipient_address">
    </div>
    <button id="btn_topup">Top up!</button>
  </div>

  <div id="tx_hash"></div>

  <script type="text/javascript">
  $(document).ready(function() {
    $("#btn_topup").on("click", function() {
       var account = $("#recipient_address").val();
       console.log(account);
       $.post("/account/" + account, function(data) {
        var bel = $('<a href="https://sdk-testnet-explorer.aepps.com/#/tx/'+data.tx_hash+'">Done in transaction '+ data.tx_hash+' </a>')
        $("#tx_hash").html(bel);
       });
    });
  });
  </script>

</body>

</html>

